* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: shabnam, -apple-system, sans-serif;
  direction: rtl;
}

@font-face {
  font-family: shabnam;
  src: url("/public/fonts/Shabnam.woff");
  font-display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
